<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<header>
    <div id="FlexBoxContainer">
            <a class="item" href="./index.html">Menu</a>
            <a class="item" href="./AboutMe.html">About me</a>
            <a class="item" href="./PortFolio.html">PortFolio</a>
            <a class="item" href="#Contact">Contact</a>
    </div>
</header>
<body>
    {% block bodycontent %}{% endblock %}
</body>
    <footer id="footer">
        <div>
            <form>
            
                <input placeholder="Name" type="text" id="name" name="name"><br>
                <input placeholder="Email" type="text" id="email" name="email"><br>
                <textarea placeholder="Message" id="message" name="message" rows="4"></textarea><br>
                <button type="submit">Submit</button>
    
            </form>
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo quod esse quo voluptatibus, in eius numquam voluptatum consectetur, earum, ipsam quas quos libero ut rerum nisi totam repellendus perferendis ab!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias quod placeat saepe a. Eius, natus velit vitae sit, et quisquam illo incidunt rerum eos eum, minus nam sunt magnam laboriosam?</p>
            </div>
        </div>

    </footer>
</html>